:host {
    max-width: 1280px;
    padding: 2rem;
}

table {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  float: left;
  width: 30%;
  min-width: 200px;
}

.container-70 {
  width: 70%;
}



